{% assign footer = site.footer %}
<footer class="usa-footer usa-footer-{{ footer.type }}" role="contentinfo">

{% if footer.type == 'slim' %}
{% include components/footer--slim.html %}
{% elsif footer.type == 'medium' %}
{% include components/footer--medium.html %}
{% elsif footer.type == 'big' %}
{% include components/footer--big.html %}
{% endif %}

<a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
<span class="sidebar-nav-item">Currently v{{ site.version }}</span>

<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.asdf</p>
</footer>
